@import "bootstrap_config";
@import "bootstrap/scss/bootstrap";

//https://github.com/csstools/precss

$yellow: #e9c46aff;
$orange: #e86a58ff;
$green: #1a6a62ff;
$dark-blue: #023047ff;
$blue: #264653ff;
$light-blue: rgb(69, 120, 141);
$dark-gray: #3b373aff;
$darker-gray: rgb(34, 32, 35);
$gray: #4d494cff;
$light-gray: #9e9c9bff;
$white: #eeeeeeff;

.main-content {
  padding-bottom: 60px;
  margin-top: 60px;
}
.email-field-error-msg,
.name-field-error-msg,
.message-field-error-msg {
  margin: 0;
  padding: 0 2%;
  display: flex;
  flex: auto;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 0.7em;
  //color: $white;
}
.form-error-message{
  min-height: 5px;
  position: relative;
  height: 100%;
}
.invalid-tooltip{
  right: 0px;
}
.form-group{
  margin-bottom: 4%;
}
.message-form-group{
  margin-bottom: 8%;
}
.form-control{
}

body>.container{
   padding-top: 60px;
}