/*.typed-text {
  font-size: 90px;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 2s steps(13) infinite alternate, blink 800ms steps(13) infinite normal;
  border-right: 1px solid black;
  width: max-content;
}*/
.typed-text {
    font-size: 2em;
    margin: 0;
    font-family: "Courier New";

    &:after {
        content: "|";
        animation: blink 500ms linear infinite alternate;
    }
}

.var-highlight {
    color: #C0AD60;
}

.string-highlight {
    color: rgba(253, 149, 90, 0.8);
}

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}